.app {
  display: flex;
  padding: 30px;

}

.game {
  /* divisible by 70 (img) and 8 */
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}